/IV PORTAFOLIO/nbproject/private/
/Ejemplo pagina 8/EjemploControles/nbproject/private/
/Ejemplo pagina 8/EjemploControles/build/
/VIII PORTAFOLIO/Algebra/nbproject/private/
/VIII PORTAFOLIO/Algebra/build/
/Ejemplo/EjemploCapas/nbproject/private/
/Ejemplo/EjemploCapas/build/