<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GuardarDirector</servlet-name>
        <servlet-class>Controlador.GuardarDirector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarDirector</servlet-name>
        <servlet-class>Controlador.EliminarDirector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPelicula</servlet-name>
        <servlet-class>Controlador.EliminarPelicula</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuardarDirector</servlet-name>
        <url-pattern>/GuardarDirector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarDirector</servlet-name>
        <url-pattern>/EliminarDirector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPelicula</servlet-name>
        <url-pattern>/EliminarPelicula</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
